.home-page{
justify-content: center;
background-color: rgb(140, 183, 209);
display: block;
padding: 10px;
width: 30%;

margin-left: 35%;
border-radius: 10px;
}
.home-page h3{
    text-align: center;
}
.schedule-info{
    display: block;
    padding: 10px;
}
.schedule-info label{
    display: block;
    padding: 10px;
}
.schedule-info input{
    border-style: inherit;
    border-radius: 4px;
    border-bottom: 2px solid rgb(59, 60, 60);
}
.schedule-info input :hover{
    background-color:beige;
}
.scheduled-slots{
    display: block;
}
.scheduled-slots label{
    display: block;
}
.scheduled-slots input{
    border-style: inherit;
    border-radius: 4px;
    border-bottom: 2px solid rgb(59, 60, 60);;
}
.scheduled-slots button{
    border: 2px;
    border-color: green;
    background-color:rgb(59, 60, 60);;
    color: white;
    border-radius: 5px;
    margin: 20px;
}
.scheduled-slots button:hover{
    background-color: transparent;
}
.scheduled-slots li{
    list-style: none;
}
.scheduled-slots h3{
    text-align: center;
}